.gradient-custom-3 {
    background: radial-gradient(circle, rgba(71, 138, 245, 0.5), rgb(255, 255, 255, 0.5));
}

.gradient-custom-4 {
    background: radial-gradient(circle, rgba(71, 138, 245, 1), rgb(223, 235, 255));
}


img {
    width: 30px;
}

.back {
    background: url(../img/back.png) no-repeat;
    background-size: 100% 100%;
    width: 30px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}


.card {
    animation: 1s show ease-in-out;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}